<footer class="position-relative z-index-10 d-print-none">
	<div class="py-4 fw-light">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 text-center text-md-start">
					<p class="text-sm mb-md-0">
						<a href="{{ path('app_contact')}}">
							<i class="bi bi-envelope"></i>
							team.ecoride@gmail.com</a>
					</p>
				</div>
				<div class="col-md-6">
					<ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-end">
						<li class="list-inline-item">
							<a href="{{ path('app_legal')}}">Mentions légales</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
