{% extends 'base.html.twig' %}

{% block title %}Tableau de bord Admin
{% endblock %}

{% block body %}
	<h1>Bienvenue, Admin</h1>

	<a href="{{ path('app_user_index')}}">Gérer les user</a><br>
	<a href="{{ path('app_admin_dashboard')}}">Covoiturage par jour</a>

	<h2>{{totalCommission}}
		crédits gagnés à ce jour.</h2>
{% endblock %}
