{% extends 'base.html.twig' %}

{% block title %}Tableau de bord Admin
{% endblock %}

{% block body %}
	<h1>Bienvenue, Admin</h1>

	<a href="{{ path('app_user_index')}}">Gérer les user</a>
{% endblock %}
