{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche
{% endblock %}

{% block body %}
	<section class="py-5">
		<div class="container">

			<div class="row mb-5">
				<div class="col-12 d-sm-flex justify-content-sm-between align-items-center">
					<h1>Résultats</h1>
				</div>
			</div>

			<div class="row">
				<aside class="col-xl-3 col-xxl-2">
					<form id="filterForm">
						<input type="hidden" name="depart" value="{{ app.request.query.get('depart') }}">
						<input type="hidden" name="arrivee" value="{{ app.request.query.get('arrivee') }}">
						<input type="hidden" name="date" value="{{ app.request.query.get('date') }}">

						<input type="checkbox" name="eco" value="1">Voyage écologique<br>
						<input type="number" name="maxPrice" placeholder="prix max"><br>
						<input type="time" name="maxDurationTime"><br>
						<input type="number" name="minRating" min="0" max="5" step="0.5" placeholder="Note min"><br>
					</form>
				</aside>

				<div class="col-xl-9 col-xxl-10">
					<div id="resultsContainer">
						{% include "partials/results_v2.html.twig" %}</div>
				</div>

			</div>


		</div>
	</section>


	<div class="text-center m-5">
		<a class="btn btn-outline-primary btn-lg px-4 me-md-2" href="/">Retour à l'accueil</a>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
const form = document.getElementById('filterForm');
const resultsContainer = document.getElementById('resultsContainer');

if (form) {


form.querySelectorAll('input').forEach(input => {
input.addEventListener('change', () => {
const formData = new FormData(form);
const queryString = new URLSearchParams(formData).toString();

console.log("Query envoyée :", queryString);

resultsContainer.innerHTML = "<p>Chargement...</p>";

fetch('/search-ajax?' + queryString, {
headers: {
'X-Requested-With': 'XMLHttpRequest'
}
}).then(response => {
if (!response.ok) {
throw new Error("Erreur HTTP: " + response.status);
}
return response.text();
}).then(html => {
resultsContainer.innerHTML = html;
}).catch(error => {
resultsContainer.innerHTML = "<p>Erreur lors du chargement des trajets.</p>";
console.error('Erreur AJAX:', error);
});
});
});
}
});
	</script>
{% endblock %}
