{% extends 'base.html.twig' %}

{% block title %}Hello EmployeeController!
{% endblock %}

{% block body %}
	<h1>Bienvenue,
		{{ app.user.pseudo }}</h1>


	<a href="{{ path('app_employee_signalement')}}">Trajets signalés</a>
{% endblock %}
